@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#3F3A27] bg-[#fcd968];
}

.logo {
  @apply w-16 h-auto;
}

.logo-svg {
  @apply w-16 h-16;
}

.btn {
  @apply px-3 py-2 rounded-full hover:opacity-70 transition;
}

.btn-primary {
  @apply bg-[#8C6196] text-white;
}

.btn-secondary {
  @apply bg-[#9FB1EF];
}

.terminal {
  font-family: "Fira Code", monospace;
}

.terminal-shadow {
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.floating-button-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-card-shadow {
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3a27;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d6a2c;
}
